@model IEnumerable<ExamenFinal_Grupo08.Models.Platillos>

@{
    ViewBag.Title = "Gestion de Platillos";
}

<h2>Gestion de Platillos</h2>

<p>
    @Html.ActionLink("Create Platillo", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_Platillo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ingredientes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagenURL)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td>@Html.DisplayFor(modelItem => item.ID_Platillo)</td>
            <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
            <td>@Html.DisplayFor(modelItem => item.Ingredientes)</td>
            <td>@Html.DisplayFor(modelItem => item.Precio)</td>
            <td>
                @if (!string.IsNullOrEmpty(item.ImagenURL))
                {
                    <img src="@Url.Content(item.ImagenURL)" alt="@item.Nombre" class="img-fluid" style="max-width: 100px; height: auto;" />
                }
                else
                {
                    <span>No image available</span>
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID_Platillo }, new { @class = "btn btn-warning btn-sm" }) |

                @Html.ActionLink("Delete", "Delete", new { id = item.ID_Platillo }, new { @class = "btn btn-danger btn-sm", onclick = "return confirm('Are you sure you want to delete this item?');" })
            </td>
        </tr>

    }

</table>
